body {
    margin: 0;
    background: fixed;
    background-image: url("img/science-fiction-gf70289e31_1920.jpg");

}

.headline {
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
}

.imgcontainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.imgbox {
    height: 150px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;

}

.imgbox img {
    object-fit: cover;
}

.imgbox:hover {
    transform: scale(1.1);
    transition: 120ms;
}

.overlay {
    width: 100%;
    height: 100vh;
    background: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    border-radius: 10px;
    max-width: 90%;
    height: 85%;
    object-fit: contain;

}

.d-none {
    display: none;
}

.buttons {
    display: flex;
    flex-direction: row;
   
}

.buttons img {
    max-height: 40px;
    margin-top: 30px;
    padding: 10px;
    cursor: pointer;
}

.buttons img:hover {
    transform: scale(1.2);
    transition: 120ms;
}