:root {
  --outer-shadow: 0 0 0.1vw 0.4vw #e0f7fa, 0 0 0.4vw 0.6vw #00e5ff,
    0 0 1vw 0.4vw #26c6da;
  --inner-shadow: inset 0 0 0.1vw 0.4vw #e0f7fa, inset 0 0 0.4vw 0.6vw #00e5ff,
    inset 0 0 1vw 0.4vw #26c6da;
  --all-shadow: 0 0 0.1vw 0.4vw #e0f7fa, 0 0 0.4vw 0.6vw #00e5ff,
    0 0 1vw 0.4vw #26c6da, inset 0 0 0.1vw 0.4vw #e0f7fa,
    inset 0 0 0.4vw 0.6vw #00e5ff, inset 0 0 1vw 0.4vw #26c6da;
  --clr-neon: hsl(145, 100%, 54%);
  --clr-bg: hsl(152, 21%, 16%);
}

body {
  background: var(--clr-bg);
  color: var(--clr-neon);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.player {
  display: flex;
  font-size: 3.5rem;
}

.player-inaktiv {
  opacity: 0.25;
}

.player div {
  display: flex;
  align-items: center;
  margin-top: 32px;
  margin-left: 16px;
  margin-right: 16px;
}

.player img {
  width: 60px;
  height: 60px;
  margin-left: 16px;
}

.head {
  justify-content: center;
  text-align: center;
  font-size: 5rem;
}
.field {
  position: absolute;
  transform: translate(-50%, -35%);
  top: 50%;
  left: 50%;
  box-shadow: var(--outer-shadow);
}
.map {
  width: 70vmin;
  height: 70vmin;
  display: flex;
  flex-wrap: wrap;
  gap: 2vmin;
  position: relative;
}

.line {
  height: 1vmin;
  width: 65vmin;
  background-color: var(--clr-neon);
  position: absolute;
  box-shadow: 0 0 1.5em 0.5em var(--clr-neon);
  /* transform: scaleX(0); */
    
}

.vertical{
  transform: rotate(90deg);
}

.hide {
  display: none;
}

.button {
  height: 22vmin;
  width: 22vmin;
  box-shadow: var(--inner-shadow);
  background-color: var(--clr-bg);
}

.neonText {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

.neonBorder-outer {
  box-shadow: var(--outer-shadow);
}

.neonBorder-inner {
  box-shadow: var(--inner-shadow);
}

.neonBorder-both {
  box-shadow: var(--all-shadow);
}

.resetButton {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 100%;
  left: 50%;
}

@media (max-width: 450px) {
  .head {
    font-size: 3rem;
  }
  .player {
    font-size: 1.5rem;
  }
  .player img {
    width: 50px;
  }
  .map img {
    width: 65px;
  }

  .resetButton {
    scale: 0.5;
    top: 85%;
    left: 35%;
  }
}

.block {
  pointer-events: none;
}

/* Reset Butten Experiment */

.reset {
  margin: 2vmin;
  font-size: 2.5rem;
  color: var(--clr-neon);
  background-color: var(--clr-bg);
  cursor: pointer;
  text-decoration: none;
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.5), 0 0 0.5em currentColor;
  box-shadow: 0 0 0.5em 0 var(--clr-neon);
  position: relative;
  transition: background-color 100ms linear;
}

.reset::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.5);
  filter: blur(1em);
  opacity: 0.6;
}

.reset::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  box-shadow: 0 0 1.5em 0.5em var(--clr-neon);
  opacity: 0;
  transition: opacity 100ms linear;
}

.reset:hover {
  background-color: var(--clr-neon);
  color: var(--clr-bg);
  text-shadow: none;
}
.reset:hover::before {
  opacity: 1;
}

.reset:hover::after {
  opacity: 1;
}
