body {
    background-color: #212529 !important;
}

.container {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212529 !important;
}

.card {
    width: 20rem;
    background-color: #2B3035 !important;
    color: aliceblue;
}

.card-footer {
    display: flex;
    justify-content: space-between;
}

.list-group-item {
    margin: 2px;
    border-radius: 6px;

}

.quiz-aCard:hover {
    cursor: pointer;
    background-color: #868E96;
}

.bg-success, .bg-danger{
    color: white !important;
}

.card-finish {
    text-align: center;
}

.progress-bar{
    font-size: 18px;
}