body {
    background-color: #212529 !important;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212529 !important;
}

.card {
    width: 25rem;
    background-color: #2B3035 !important;
    color: aliceblue;
}

.card-footer {
    display: flex;
    justify-content: space-between;
}

