body {
  background-color: #212529 !important;
}

.container {
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212529 !important;
}

.card {
  width: 20rem;
  background-color: #2b3035 !important;
  color: aliceblue;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-group-item {
  margin: 2px;
  border-radius: 6px;
}

.quiz-aCard:hover {
  cursor: pointer;
  background-color: #868e96;
}

.bg-success,
.bg-danger {
  color: white !important;
}

.card-finish {
  text-align: center;
}

.progress-bar {
  font-size: 12px;
}

.block {
  pointer-events: none;
}
