<div class="footer-main">

    <div class="footer-container">
        <a href="./contact.html">Kontakt</a> |
        <a href="./dataprotection.html">Datenschutz</a> |
        <a href="./imprint.html">Impressum</a>
    </div>


    <div class="social-media-btn">
        <a href="http://facebook.de" target="_blank">
            <img src="./img/facebook-3-48.png" alt="Zu Facebook" class="social-media-img">
        </a>

        <a href="http://instagram.de/stayabroad" target="_blank">
            <img src="./img/instagram-3-48.png" alt="Zu Instagram" class="social-media-img">
        </a>

        <a href="http://twitter.com" target="_blank">
            <img src="./img/twitter-3-48.png" alt="Zu Twitter" class="social-media-img">
        </a>
    </div>
    