<div class="headSection">
    <a class="logo-margin" href="./index.html"><img class="logo" src="./img/logo2.png" alt="Logo Kochwelt"></a>
    <nav>
        <div id="navLinks" class="nav-links">
          <img src="./img/close.gif" class="fa fa-times" onclick="hideMenu()">
            <ul id="navBar">
                <li><a href="./index.html" class="navLink">Home</a></li>
                <li><a href="./pancakes.html" class="navLink">Rezept des Tages</a></li>
                <li><a href="./contact.html" class="navLink">Kontakt</a></li>
                <li><a href="./imprint.html" class="navLink">Impressum</a></li>
            </ul>
        </div>
        <img src="./img/burger-menu.gif" class="fa fa-bars" onclick="showMenu()"></img>
    </nav>
</div>

<script>
    let navLinks = document.getElementById("navLinks");
</script>