* {
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: beige;
  color: darkred;

  > img {
    width: 75px;
    height: 75px;
  }

  > h1 {
    font-size: 50px;
    padding-top: 32px;
    text-align: center;
  }
}

.elements {
  display: flex;
  flex-direction: row;
}

.howtocard {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  color: black;
  font-size: 25px;
  font-weight: 800;
  text-align: center;
}
