body {
    margin: 0;
    height: 100vh;
    background-color: #662113;
    background-image: url('../img/added_stuff/mexican-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}
h1 {
    font-size: 3rem;
}

canvas {
    background-color: black;
}
.headline {
    font-size: 3rem;
    color: var(--mexico);
    margin: 2rem;
}