nav {
  width: 90vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;


  > img {
    width: 64px;
    height: 64px;
  }
  > div {
    width: 450px;
    display: flex;
    > a {
      &:hover {
        color: red;
      }
    }
  }
}

a {
  text-decoration: none;
  color: aliceblue;
  margin: 10px;
}

.phone_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: red;
  border: 2px solid;
  border-radius: 25px;
  border-color: aliceblue;
  > img {
    width: 25px;
    height: 25px;
  }
}
