<section>
  <h1>OUR MENU</h1>

  <div class="mealRight">
    <img src="/assets/img/r1.png" alt="" />
    <table> 
        <tr>
             <th>Tonkasu Ramen</th>
    </tr>
      <td>
        <tr>
            Chicken
        </tr>
        <tr>
            Beef
        </tr>
        <tr>
            Shrimp
        </tr>
      </td>
      <td>
        <tr>
            11,95 €
          </tr>
          <tr>
            12,95€
          </tr>
          <tr>
            13,95 €
          </tr>
      </td>
    </table>
  </div>
  <div class="mealLeft">
    <img src="/assets/img/r2.png" alt="" />
    <table> 
        <tr>
             <th>Spicy Miso Ramen</th>
    </tr>
      <td>
        <tr>
            Chicken
        </tr>
        <tr>
            Beef
        </tr>
        <tr>
            Shrimp
        </tr>
      </td>
      <td>
        <tr>
            11,95 €
          </tr>
          <tr>
            12,95€
          </tr>
          <tr>
            13,95 €
          </tr>
      </td>
    </table>
  </div>
  <div class="mealRight">
    <img src="../../../assets/img/r3.png" alt="" />
    <table> 
        <tr>
             <th>Shio Ramen</th>
    </tr>
      <td>
        <tr>
            Chicken
        </tr>
        <tr>
            Beef
        </tr>
        <tr>
            Shrimp
        </tr>
      </td>
      <td>
        <tr>
            11,95 €
          </tr>
          <tr>
            12,95€
          </tr>
          <tr>
            13,95 €
          </tr>
      </td>
    </table>
  </div>
</section>
