.start-screen {
    background-color: rgb(148, 18, 148);
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
     height: 100vh;
    }
}

.start-label-box{
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    bottom: 20%;
    img {
        width: 35vw;
        height: auto;

        &:hover {
            cursor: pointer;
            filter: brightness(1.45);
        }
    }

}